body {
    margin: 0;
    background-color: lightgrey;
}

table {
    border-collapse: collapse;
}

table, tr, th, td {
    border: 1px solid black;
}

.error {
    color: red;
}

.landing {
    height: 100%;
    background: url(../img/01.jpg);
    background-size: cover;
    color: white;
    font-size: 25px;
}

.top {
    position: absolute;
    top: 30px;
}

.topleft {
    left: 16px;
}

.topright {
    right: 16px;
}

.bigTitle {
    font-size: 3em;
    line-height: 1em;
    text-transform: uppercase;
}

.smallTitle {
    font-weight: 900;
    font-size: 1.5em;
    line-height: 0.6em;
    text-transform: uppercase;
}

.smallerTitle {
    font-weight: 500;
    margin: 0.5em 0 0 0;
    font-size: 1.25em;
    text-transform: uppercase
}

.centerButton {
    position: absolute;
    bottom: 25%;
    left: 42%;
    text-align: center;
    padding-top: 25px;
    background-color: transparent;
    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 1);
    color: #fff;
    min-height: 2em;
    min-width: 8em;
    font-size: 1.5em;
    font-weight: 900;
}


.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    margin: 8px;
}

.logo {
    width: 50px;
}

.state {
    font-size: 20px;
    color: #fff;
    padding: 20px 10px 10px 0;
    text-decoration: none;
    white-space: nowrap;
}

.faPad {
    padding-top: 10px;
}

.state a {
    color: #C29D23;
}

.navigation {
    display: -webkit-box;
    background: dimgrey;
}

.navigation a {
    font-size: 20px;
}

a.button {
    text-decoration: none;
    color: initial;
    font-size: unset;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    display: block;
    position: relative;
    float: left;
}

.navigation li ul {
    display: none;
}

.navigation ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    position: relative;
    z-index: 1;
}

.navigation ul li a:hover {
    background: #C29D23;
}

.navigation li:hover > ul {
    display: block;
    position: absolute;
}

.navigation li:hover li {
    float: none;
}

.navigation li:hover a {
    background: #300707;
}

.navigation li:hover li a:hover {
    background: #C29D23;
}

.navigation .main-navigation li ul li {
    border-top: 0;
}

.navigation ul ul ul {
    left: 100%;
    top: 0;
}

.navigation ul:before,
.navigation ul:after {
    content: " ";
    display: table;
}

.navigation ul:after {
    clear: both;
}

.navRight {
    position: absolute;
    right: 20px;
    display: -webkit-box;
}

.icon-wrapper {
    position: relative;
    float: left;
}

i {
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

.badge {
    background: #9cebd5;
    width: auto;
    height: auto;
    margin: 0;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: -10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: unset;
}

.wrapper {
    height: 420px;
    margin: 50px auto;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
}

.product-img {
    float: left;
    height: 420px;
    width: 26%;
}

.product-info {
    float: left;
    height: 420px;
    width: 74%;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.product-text {
    height: 300px;
}

.product-price-btn {
    height: 103px;
    margin: 17px 0 0 30px;
    position: relative;
    display: -webkit-box;
}

.product-price-btn p {
    display: inline-block;
    position: absolute;
    top: -13px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
}

span {
    display: inline-block;
    height: 50px;
    font-family: 'Suranna', serif;
    font-size: 34px;
}

.product-price-btn button {
    position: absolute;
    bottom: 60px;
    right: 10px;
    height: 50px;
    width: 176px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
}

.product-price-btn button:hover {
    background-color: #79b0a1;
}

.styled-select {
    height: 29px;
    overflow: hidden;
    font-size: 18px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 18px;
    height: 29px;
    padding: 5px;
    width: 268px;
}


.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
}

.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.wrapper-small {
    height: 220px;
    margin: 10px;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 14px 32px 0 rgba(0, 0, 0, 0.15);
}

.product-img-small {
    float: left;
    height: 220px;
    width: 26%;
}

.product-img-small img {
    height: 220px;
    width: 350px;
    max-width: 100%;
    max-height: 100%;;
}

.product-info-small {
    float: left;
    height: 220px;
    width: 74%;
    border-radius: 0 7px 10px 7px;
    background-color: #ffffff;
}

.product-text-small {
    height: 130px;
}

.product-img img,
.product-img-small img {
    border-radius: 7px 0 0 7px;
}

.product-text-small h1,
.product-text h1 {
    margin: 0 0 0 38px;
    padding-top: 22px;
    font-size: 34px;
    color: #474747;
}

.product-text-small h1,
.product-text h1,
.product-price-btn p {
    font-family: 'Bentham', serif;
}

.product-text-small h2,
.product-text h2 {
    margin: 15px 0 10px 38px;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #d2d2d2;
    letter-spacing: 0.2em;
}

.product-text-small p,
.product-text p {
    height: 125px;
    margin: 0 0 0 38px;
    font-family: 'Playfair Display', serif;
    color: #8d8d8d;
    line-height: 1.7em;
    font-size: 15px;
    font-weight: lighter;
    overflow: hidden;
}

.product-price-btn-small {
    height: 103px;
    position: relative;
}

.product-price-btn-small p {
    display: inline-block;
    position: absolute;
    top: -40px;
    height: 50px;
    font-family: 'Trocchi', serif;
    margin: 0 0 0 38px;
    font-size: 28px;
    font-weight: lighter;
    color: #474747;
}

.product-price-btn-small button {
    display: inline-block;
    height: 50px;
    width: 176px;
    margin: 20px 40px 0 30px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
}

.product-price-btn-small button:hover {
    background-color: #79b0a1;
}

#productFilterText {
    width: 20%;
    position: absolute;
    right: 35px;
    top: 70px;
}

#billingDiv {
    display: none;
}

.top-selector {
    margin-top: -3px;
}

html {
    font: 75%/1.5em "Trebuchet Ms", helvetica;
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Shopper';
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
}

p {
    font-size: 1.5em;
    color: #8a8a8a;
}

img {
    width: 100%;
    overflow: hidden;
    margin-right: 1em;
}

a {
    text-decoration: none;
}

.container {
    margin: 40px auto;
    border-radius: 0.6em;
    background: #ecf0f1;
}

.innerContainer {
    padding: 20px;
}

.table {
    background: #ffffff;
    border-radius: 0.6em;
    overflow: hidden;
    clear: both;
}

.layout-inline > * {
    display: inline-block;
}

.align-center {
    text-align: center;
}

.th {
    background: #bbc3c6;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

.tf {
    background: #bbc3c6;
    text-transform: uppercase;
    text-align: right;
    font-size: 1.2em;
}

.tf p {
    color: #fff;
    font-weight: bold;
}

.col {
    padding: 1em;
    width: 15%;
}

.col-pro {
    width: 23%;
}

.col-pro > * {
    vertical-align: middle;
}

.col-qty {
    text-align: center;
    width: 17%;
}

.col-numeric p {
    font: bold 1.8em helvetica;
    text-align: right;
}

.col-total p {
    color: #12c8b1;
}

.colPad {
    padding-top: 22px;
}

.tf .col {
    width: 20%;
}

.row > div {
    vertical-align: middle;
}

.col-qty > * {
    vertical-align: middle;
}

.col-qty > input {
    max-width: 2.6em;
}

a.qty {
    width: 1em;
    line-height: 1em;
    border-radius: 2em;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    background: #43ace3;
    color: #fff;
}

a.qty:hover {
    background: #3b9ac6;
}

@media screen and ( max-width: 755px) {
    .container {
        width: 98%;
    }

    .col-pro {
        width: 35%;
    }

    .col-qty {
        width: 22%;
    }

    img {
        max-width: 100%;
        margin-bottom: 1em;
    }
}

@media screen and ( max-width: 591px) {

}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col-25 {
    -ms-flex: 25%;
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%;
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%;
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px 0 0;
}


input[type=text], input[type=date], input[type=password], input[type=number], select[class=selectLog] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1.4em;
    color: #8a8a8a;
    text-align: center;
}

input[class=inputSmall] {
    width: 50%;
}

.labelQty {
    width: 50%;
}

.btn {
    padding: 10px 30px;
    border-radius: 0.3em;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;

    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

.btn:hover {
    background-color: #45a049;
}

a {
    color: #2196F3;
}

hr {
    border: 1px solid #ffffff;
}

span.price {
    float: right;
    color: grey;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}

.accordion ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.accordion li {
    margin: 0;
    padding: 0;
}

.accordion [type=radio], .accordion [type=checkbox] {
    display: none;
}

.accordion label {
    display: block;
    font-size: 16px;
    line-height: 16px;
    background: #D95B43;
    border: 1px solid #542437;
    color: #542437;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}

.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background: #C02942;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
}

.accordion .content {
    overflow: hidden;
    border: 1px solid #fff;
}

.accordion p {
    color: #333;
    margin: 0 0 10px;
}

.accordion h3 {
    color: #542437;
    padding: 0;
    margin: 10px 0;
}

.vertical ul li {
    overflow: hidden;
    margin: 0 0 1px;
}

.vertical ul li label {
    padding: 10px;
}

.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom: 0;
}

.vertical ul li label:hover {
    border: 1px solid #542437;
}

.vertical ul li .content {
    height: 0px;
    border-top: 0;
}

.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
    height: 100%;
    border: 1px solid #542437;
}